{% extends "login-b.html" %}

 {% block info %}
                      {% if user.is_authenticated %}
                        <p class="title is-3">Yu ya estas logueado como {{user.username}}, puedes iniciar con otra cuenta.</p>
                        {% else %}
                          <p class="title is-3">Iniciar Sesion</p>
                        {% endif %} 
  {% endblock info %}
         
{% block content %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<div class="hero-body">
          <div class="container">
            <div class="columns">
              <div class="column is-8 is-offset-2">
                <h1 class="avatar has-text-centered section">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/d/d3/User_Circle.png">
                </h1>
                <div class="login-form">
                  <p class="control has-icon has-icon-right">
                    <input class="input email-input" name="username" autofocus required id="id_username" type="text" placeholder="jsmith@example.org">
                    
                    <span class="icon user">
                      <i class="fa fa-user"></i>
                    </span>
                    
                  </p>
                  <p class="control has-icon has-icon-right">
                    <input class="input password-input" type="password" name="password" required id="id_password" placeholder="●●●●●●●">
                    
                    <span class="icon user">
                      <i class="fa fa-lock"></i>
                    </span>
                  </p>
                  <p class="control login">
                    <button class="button is-success is-outlined is-large is-fullwidth">Login</button>
                  </p>
                </div>
                <div class="section forgot-password">
                  <p class="has-text-centered">
                    <a href="{% url 'password_reset' %}">No recuerda su contraseña</a>
                      {% if form.errors %}
                        <a>Tu usuario o contraseña deben coinsidir.</a>
                      {% endif %}
                     
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
    <input type="hidden" name="next" value="{% url 'perfil' %}" />
</form>
{% endblock %}



