<!DOCTYPE html>
{%load staticfiles%}
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>IPH</title>
    <link rel="stylesheet" href="{% static "css/estilosfont.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/bulma.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
</head>
<body>
  <div class="hero-head">
      <header class="nav">
        <div class="container">
          <div class="nav-left">
            <a class="nav-item" href="{% url 'home' %}">
              <h1 class="title is-3">
                SmarLock
              </h1>
            </a>
          </div>
          {% include "menu.html" %}
             {% if user.is_authenticated %}
                        <span class="nav-item">
              <a class="button is-info is-inverted" href="{% url 'logout' %}">
                <span class="icon">
                  <i class="icon-user"></i>
                </span>
                <span>Salir</span>
              </a>
            </span>
                        {% else %}
                          
                        <span class="nav-item">
              <a class="button is-info is-inverted" href="{% url 'login' %}">
                <span class="icon">
                  <i class="icon-user"></i>
                </span>
                <span>Login</span>
              </a>
            </span>
                        {% endif %}
          </div>
        </div>
      </header>
    </div>

    <section class="hero is-primary is-medium">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title is-2">
            {% block titulo %}
              
            {% endblock %}
          </h1>
          <h2 class="subtitle is-4">
            {% block subtitulo %}
              
            {% endblock %}
          </h2>
        </div>
      </div>
    </section>

    <section class="section blog">
      <div class="container">
        <div class="columns is-mobile">
          <div class="column is-8 is-offset-2">
            <div class="content blog-post section">
              <p class="has-text-left has-text-muted"></p>
              
              {% block info %}
                
              {% endblock info %}
            

            <div class="card is-fullwidth">
              <header class="card-header">
                <p class="card-header-title">
                  About the author
                </p>
                <a class="card-header-icon" href="#top">
                  <i class="fa fa-angle-up"></i>
                </a>
              </header>
              <div class="card-content">
                <article class="media">
                  <div class="media-left">
                    <figure class="image is-64x64">
                      <img src="http://placehold.it/128x128" alt="Image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>John Smith</strong> <small>@johnsmith</small>
                        <br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                      </p>
                    </div>
                  </div>
                </article>
              </div>
              <footer class="card-footer">
                <a class="card-footer-item">Share on Facebook</a>
                <a class="card-footer-item">Share on Twitter</a>
                <a class="card-footer-item">Share on G+</a>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer">
        <div class="container">
        <div class="content has-text-centered">
            <p>
            <strong>Bulma</strong> by <a href="http://jgthms.com">Jeremy Thomas</a>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
            is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
            </p>
            <p>
            <a class="icon" href="https://github.com/jgthms/bulma">
                <i class="fa fa-github"></i>
            </a>
            </p>
        </div>
        </div>
    </footer>

   <script async type="text/javascript" src="{% static "js/bulma.js" %}"></script>
</body>
</html>