{% extends "base-info.html" %}

    {% block titulo %}
       Nosotros   
    {% endblock %}

    {% block subtitulo %}
        Todo sobre SmarLock
    {% endblock %}

{% block info %}
  
              <p>
                <strong>Misión.</strong>
                Se pretende ser una aplicación que fortalezca el conocimiento en los niños de manera didáctica y divertida antes de utilizar la computadora.

              </p>
              <p>
              <strong>Vision.</strong>
              Mejorar la manera en la que aprenden los niños, poniendo a prueba su conocimiento antes de utilizar algún dispositivo electrónico, ya sea tableta, celular o computadora; además de tener una bitácora electrónica donde se sincronice la información al adulto responsable del niño (madre, padre o tutor).


              </p>
              <p>
                <strong>Objetivo general.</strong>
                              
                  Con este proyecto se pretende asegurar que los menores retienen el conocimiento aprendido en la escuela y se maneje como un privilegio al momento de utilizar la computadora/Tablet/celular.

              </p>
            </div>
{% endblock info %}