
        
          <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
          </span>
          <div class="nav-right nav-menu">
            <a class="nav-item is-active" href="{% url 'home' %}">
              Inicio
            </a>
            <a class="nav-item" href="{% url 'nosotros' %}">
              Nosotros
            </a>
            <a class="nav-item" href="{% url 'Registro' %}">
              Registrarse
            </a>
       
        